/* #region Common rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
.container {
    height: 100vh;
}
.box {
    height: calc(100vh - 100px);
}
.player {
    height: 100px;
}
/* #endregion */

/* #region Utilities */
.row {
    display: flex;
}
.col_2 {
    width: calc(100% / 12 * 2);
}
.col_10 {
    width: calc(100% / 12 * 10);
}
.col_12 {
    width: calc(100% / 12 * 12);
}
/* #endregion */


/* #region Debug */
.debug .box {
    background-color: rgb(63, 190, 169);
}
.debug .player {
    background-color: rgb(119, 28, 14);
}
.debug .playback,
.debug .actions {
    border: 2px solid;
    height: 90%;
    width: 100%;
}
.debug .play {
    width: 100%;
    height: 90%;
    background-color: red;
}
.debug .col_2,
.debug .col_10 {
    border: 1px solid;
}
.debug .upgrade {
    width: 100%;
    height: 80px;
    background-color: rgba(255, 0, 0, 0.482);
}
.debug .shift {
    height: 40px;
    width: 100%;
    background-color: rgba(0, 0, 255, 0.47);
}
.debug .col_2 {
    height: 150px;
}
.debug .shift {
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 255, 0.515);
}
/* #endregion */

/* #region Player */
.player {
    z-index: 999;
}
.player .play {
    flex-grow: 2;
}
.player .actions,
.player .playback {
    flex-grow: 1;
}
.player .actions {
    text-align: right;
}
/* #endregion */

/* #region Music */
.recent_music {
    flex-wrap: wrap;
}

/* #endregion */

/* #region Music Box */
.music_box {
    max-height: 100%;
}
.box .col_10 {
    overflow: auto;
}
