/* #region Common rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
img {
    max-width: 100%;
}
.wrapper {
    height: 100vh;
}
.box {
    height: calc(100vh - 80px);
}
:root {
    --sf-black: #000000;
    --sf-white: #FFFFFF;
    --sf-darker: #080B12;
    --sf-dark: #141922;
    --sf-dark-gray: #282828;
    --sf-spoty: #99E22E;
    --sf-grey: #A3A3A3;
    --sf-light-grey: #C1C1C1;

}
/* #endregion */

/* #region Utilities */
.row {
    display: flex;
}
.col_1 {
    width: calc(100% / 12 * 1);
}
.col_2 {
    width: calc(100% / 12 * 2);
}
.col_4 {
    width: calc(100% / 12 * 4);
}
.col_10 {
    width: calc(100% / 12 * 10);
}
.col_12 {
    width: calc(100% / 12 * 12);
}
/* #endregion */

/* #region Debug */
.debug .box {
    background-color: rgb(63, 190, 169);
}
.debug .player {
    background-color: rgb(119, 28, 14);
}
.debug .playback,
.debug .actions {
    border: 2px solid;
    height: 90%;
    width: 100%;
}
.debug .play {
    width: 100%;
    height: 90%;
    background-color: red;
}
.debug .col_2,
.debug .col_10 {
    border: 1px solid;
}
.debug .upgrade {
    width: 100%;
    height: 80px;
    background-color: rgba(255, 0, 0, 0.482);
}
.debug .shift {
    height: 40px;
    width: 100%;
    background-color: rgba(0, 0, 255, 0.47);
}
.debug .music_box .col_2 {
    height: 150px;
}
.debug .shift {
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 255, 0.515);
}
.debug .nav_left {
    height: 100%;
}
.debug .navigation {
    height: 50%;
    width: 100%;
    background-color: rgba(172, 255, 47, 0.501);
}
.debug .profile {
    height: 10%;
    width: 100%;
    background-color: rgba(172, 255, 47, 0.501);
}
.debug .play_nav,
.debug .play_time {
    background-color: #000000;
    border: 1px solid white;
    height: 50%;
}

/* #endregion */

/* #region Player */
.player {
    height: 80px;
    padding: 0.5rem;
    background-color: var(--sf-dark-gray);
}
.player .playback {
    padding: 0.5rem 0;
    justify-content: space-between;
}
.player .actions {
    text-align: right;
}
.player .playback_left>div {
    padding-left: 0.5rem;
}
.player img {
    max-height: 100%;
}
.name_track {
    color: var(--sf-white);
    font-size: 0.8rem;
    font-weight: 700;
}
.name_artist {
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--sf-grey);
}
.playback_left {
    align-items: center;
}
.playback_right {
    font-size: 0.8rem;
    color: var(--sf-grey);
    align-items: center;
}
.playback_right i {
    margin: 0 0.5rem;
}
.play_nav,
.play_time {
    height: 50%;
}
.play_nav {
    color: var(--sf-white);
    align-items: center;
}
.play_nav>.row {
    justify-content: space-between;
    align-items: center;
}
.play_nav .fa-circle-play {
    font-size: 1.6rem;
}
.play_time {
    font-size: 0.6rem;
    color: var(--sf-white);
    font-weight: 500;
    align-items: center;
    justify-content: space-between;
}
.play_time div:last-child {
    text-align: right;
}
.play_time .col_10 {
    width: 100%;
    height: 3px;
    background-color: #A3A3A3;
}
.play_time .col_10>div {
    width: 30%;
    height: 3px;
    color: red;
}
/* #endregion */

/* #region Music Box */
.recent_music {
    flex-wrap: wrap;
}
.music_box {
    max-height: 100%;
}
.box .col_10 {
    overflow: auto;
}
/* #endregion */

/* #region Nav Left */
.nav_left {
    flex-direction: column;
    justify-content: space-between;
}
/* #endregion */

/* #region Media Query */
@media screen and (max-width: 888px) {
    .music_box
    .col_md_3 {
        width: calc(100% / 12 * 3);
    }
}

@media screen and (max-width: 648px) {
    .music_box
    .col_sm_6 {
        width: calc(100% / 12 * 6);
    }
}

@media screen and (max-width: 552px) {
    
}
/* #endregion */
